@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap'); 

:root{
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
    --font-code: 'JetBrains Mono', monospace;
    --bg-primary: #121212;
    --bg-secondary: #1E1E1E;
    --text-main: #D4D4D4;
    --accent-primary: #38bdf8;
    --border-color: #1E293B;
    --accent-secondary: #0077FF;
    --input-field: #555555;
    --shadow-soft: 0 4px 6px rgba(44, 36, 27, 0.1);
    --highlight-border:rgba(255, 255, 255, 0.10);
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--text-main);
    background-color: var(--bg-primary);
}

main{
    flex:1;
}

.learnHublist{
    display: flex;
    flex-direction: column;
}

.learnHublist ul {
    list-style-type: none;
}

.learnHublist a {
    text-decoration: none;
    color: var(--text-main);
}

/* Arts & Humanities, Science, Social Sciences(Natural Sciences), Medicine and Health Sciences, Engineering and Technology, Business and Commerce, Education