@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Tektur:wght@400..900&display=swap');

:root{
    --font-heading: 'Tektur', sans serif;
    --font-body: 'Electrolize', sans serif;
    --font-code: 'Courier Prime', monospace;
    --bg-primary: #121212;
    --bg-secondary: #1E1E1E;
    --text-main: #D4D4D4;
    --accent-primary: #38bdf8;
    --border-color: #1E293B;
    --accent-secondary: #0077FF;
    --input-field: #555555;
    --shadow-soft: 0 4px 6px rgba(44, 36, 27, 0.1);
    --highlight-border:rgba(255, 255, 255, 0.1);
}

h1 {
    font-family: var(--font-heading);
}

h2 {
    font-family: var(--font-body);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-main);
    background-color: var(--bg-primary);
}

.topbar {
    display: flex;
    width: 100%;
    margin:auto;
    font-family: var(--font-heading);
    justify-content: center;
    padding: 0 1rem 0 1rem;
    background-color: var(--bg-secondary);
    border: 1px solid var(--highlight-border);
}

.homeheader {
    padding: 2rem 2rem 2rem 3.5rem;
    margin: auto;
    width: auto;
    height: auto;
}

img {
    display: block;
    margin:auto;
    width: 30%;
}

.homesubheading {
    display: flex;
    flex: auto;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 2rem 2rem 2rem 3.5rem;
    width: fit-content;
    margin: auto;
    color: var(--text-main);
    border: 1px solid var(--highlight-border);
}

.homeList{
    display:flex;
    flex: content;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 2rem;
    padding: 0 2rem 0 2rem;
    text-decoration: none;
    color: var(--text-main);
    border: 1px solid var(--highlight-border);
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.copyright{
}