/*  Primary Background: aged cream #F4ECD8
Secondary Background: Darker Vellum #E8DCCA
Main Text: Iron Ink #2C241B
Primary Accent: Leather Red #8A3324
Secondary Accent: Faded Gold #C5A059*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Lora', serif;
    --font-code: 'Courier Prime', monospace;
    --bg-primary: #f4ecd8;
    --bg-secondary: #E8DCCA;
    --text-main: #2C241B;
    --accent-pop: #8A3324;
    --border-color: #D3C4A5;
    --accent-gold: #C5A059;
    --shadow-soft: 0 4px 6px rgba(44, 36, 27, 0.1);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-main);
    background-color: var(--bg-primary);
}

img {
    display: block;
    margin:auto;
    width: 100%;
}

.homeheader {
    margin: auto;
    width: 200px;
    height: 300px;
}

.homesubheading {
    display: flex;
    flex: auto;
    text-align: center;
    position: relative;
    font-style: italic;
    font-size: 1.1rem;
    background-color: var(--bg-secondary);
    border-radius: 4px;
    padding: 2rem 2rem 2rem 3.5rem;
    margin: 2rem 0;
    color:#2C241B;
    box-shadow: var(--shadow-soft);
    border: 1px solid var(--border-color);
}
