/*  Primary Background: aged cream #F4ECD8
Secondary Background: Darker Vellum #E8DCCA
Main Text: Iron Ink #2C241B
Primary Accent: Leather Red #8A3324
Secondary Accent: Faded Gold #C5A059*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Lora', serif;
    --font-code: 'Courier Prime', monospace;
    --bg-primary: #121212;
    --bg-secondary: #1E1E1E;
    --text-main: #D4D4D4;
    --accent-primary: #38bdf8;
    --border-color: #1E293B;
    --accent-secondary: #0077FF;
    --input-field: #555555;
    --shadow-soft: 0 4px 6px rgba(44, 36, 27, 0.1);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-main);
    background-color: var(--bg-primary);
}

.topbar {
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-soft);
}

.homeheader {
    padding: 2rem 2rem 2rem 3.5rem;
    margin: auto;
    width: auto;
    height: auto;
}

img {
    display: block;
    margin:auto;
    width: 30%;
}

.homesubheading {
    display: flex;
    flex: auto;
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    background-color: var(--bg-secondary);
    border-radius: 4px;
    padding: 2rem 2rem 2rem 3.5rem;
    width: fit-content;
    margin: auto;
    color: var(--text-main);
    box-shadow: var(--shadow-soft);
}

.homeList{
    display:flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-main);
}